@use "~@destinygg/libstiny" as dgg;
@use "@destinygg/libstiny/lib/utils/transitions" as transitions;
@use "sass:map";

.dropdown {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  $easing: map.get(transitions.$transition-curves, enter-exit);

  &[data-state="open"] {
    animation: dropdown-open $easing;
  }

  &[data-state="closed"] {
    animation: dropdown-close $easing;
  }

  [role="group"] {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
  }

  &__item {
    outline: none;

    &--active {
      color: dgg.$palette-primary-11;
      background-color: dgg.$palette-primary-3;

      &:hover {
        color: dgg.$palette-primary-11;
        background-color: dgg.$palette-primary-4;
      }
    }

    &--nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: dgg.$space-2;
    }

    &-value {
      display: flex;
      align-items: center;
      gap: dgg.$space-1;
      color: dgg.$palette-neutral-11;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: dgg.$space-1;
    font: dgg.$body-100-semi-bold;
    cursor: pointer;
    padding: dgg.$space-2;
    border-radius: dgg.$semantic-radii-small;
    outline: none;

    &:hover {
      background-color: dgg.$palette-neutral-4;
    }
  }

  &__separator {
    flex-shrink: 0;
    height: 1px;
    background-color: dgg.$palette-neutral-6;
    margin-block: dgg.$space-1;
  }
}

.settings-dropdown {
  width: 180px;
  max-height: var(--radix-dropdown-menu-content-available-height, auto);
  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: dgg.$palette-neutral-6 transparent;

  clip-path: inset(0 round dgg.$semantic-radii-medium);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin-block: dgg.$space-1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: dgg.$palette-neutral-6;
    border-radius: dgg.$semantic-radii-small;
    border: 2px solid dgg.$palette-neutral-2;

    &:hover {
      background-color: dgg.$palette-neutral-7;
    }
  }
}

@keyframes dropdown-open {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-4px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes dropdown-close {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.95) translateY(-4px);
  }
}
